.bigBox {
    position: absolute;
    top: 0;
    left: calc(50% - 300px);
    width: 600px; height: 100%;
    background-color: aqua;

    .hide {
        height: 20%;
        width: 100%;
    }
    .content {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        p {
            text-align: center;
        }
    
        div {
            text-align: center;
        }
        button {
            margin: auto;
        }
    }
}