.content{
    .title {
        margin: 6% auto;
    }
    .tale {
        width: 80%;
        border-radius: 26px;
        font-size: 16px; font-weight: bold;
        padding: 20px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .result-school{
        margin: 6% auto;
    }
    a  {
        padding: 0 14%;
        color: #484545;
        font-weight: bold;
        text-align: center;
        line-height: 1.6;
    }
    img {
        height: 300px;
        width: 300px;
    }
}