.testContent {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(50% - 300px);
    width: 600px; height: 100%;
    background-color: aqua;

    .progBar {
        width: 80%;
        margin: auto;
    }

    img {
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;
    }

    .buttons {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        button {
            width: 80%;
            border-radius: 20px;
            margin: 0 auto;
        }
    }
}